{% extends "base.html" %}

{% block content %}
	<form>
		<label for="gender">Gender:</label>
		<select id="gender" name="gender">
			<option value="male">Male</option>
			<option value="female">Female</option>
		</select>
		<label for="seniority">Seniority (months):</label>
		<input type="text" id="seniority" name="seniority" placeholder="Enter number of months...">
		<label for="contract">Contract type:</label>
		<select id="contract" name="contract">
			<option value="one_year">One year</option>
			<option value="two_year">Two year</option>
			<option value="monthly">Monthly</option>
		</select>
		<label for="has_internet">Has internet:</label>
		<select id="
